footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #0096c7;
  z-index: 50;

  height: 100%;
  padding: 20px;
  font-size: 15px;
}

a {
  text-align: center;
  font-size: 16px;
  color: #03045e;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #48cae4;
}

/* tooltip */
:host >>> .tooltip-inner {
  background: #03045e !important;
  color: #00b4d8;
}
