<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/contact-me"> let's get a coffee!</a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/home" placement="top" ngbTooltip="Coded in Angular">
          <i class="fa-solid fa-code"></i>
          in
          <i class="devicon-angularjs-plain"></i>
          by Abdul-Malik
        </a>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col">
            <a
              href="https://github.com/abdulmalik-codes"
              target="_blank"
              placement="top"
              ngbTooltip="Github"
            >
              <i class="fab fa-github"></i>
            </a>
          </div>

          <div class="col">
            <a
              href="https://www.linkedin.com/in/abdul-malik-mohamed-5938bb214"
              target="_blank"
              placement="top"
              ngbTooltip="LinkedIn"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="col">
            <a
              href="https://codepen.io/abdulmalik-codes"
              target="_blank"
              placement="top"
              ngbTooltip="Code Pen"
            >
              <i class="fab fa-codepen"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
