<footer>
  <div class="footer-links">
    <a routerLink="/contact-me"> let's get a coffee!</a>
  </div>
  <div class="footer-links">
    <a routerLink="/home">made by Abdul-Malik with Angular </a>
  </div>
  <div class="footer-links">
    <div class="socials">
      <a
        href="https://www.linkedin.com/in/abdul-malik-mohamed-5938bb214"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/abdulmalik-codes" target="_blank">
        <i class="fab fa-github"> </i>
      </a>

      <a href="https://codepen.io/abdulmalik-codes">
        <i class="fab fa-codepen"></i>
      </a>
    </div>
  </div>
</footer>
