<body>
  <div class="container">
    <h1>About <span>Me</span></h1>

    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 100%">
          <img
            src="../../assets/about/me-about.jpg"
            class="card-img-top img-responsive"
            alt="Abdul-Malik Mohamed"
            style="height: 500px; border-radius: 10px"
          />
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p>
                  <span>
                    <i class="fa-solid fa-phone"></i>
                  </span>
                  076 497 1338
                </p>
                <p>
                  <span>
                    <i class="fas fa-map-marker-alt"></i>
                  </span>
                  Mitchell's Plain, Cape Town
                </p>

                <p>
                  <span>
                    <i class="far fa-envelope"></i>
                  </span>
                  abdul.malik.codes@gmail.com
                </p>

                <p>
                  <span>
                    <i class="fas fa-cog gear"></i>
                  </span>
                  Aspiring Angular Developer
                </p>
              </div>
              <div class="col">
                <p>
                  <span>
                    <i class="fas fa-birthday-cake"> </i>
                  </span>
                  3 February 2000
                </p>
                <p>
                  <span>
                    <i class="far fa-comments"></i>
                  </span>
                  English/Afrikaans
                </p>
                <p>
                  <span>
                    <i class="fas fa-id-card"></i>
                  </span>
                  License <i class="fas fa-check"></i>
                </p>
                <p>
                  <span>
                    <i class="fas fa-syringe"></i>
                  </span>
                  Vaccinated <i class="fas fa-check"></i>
                </p>
              </div>
            </div>

            <!--
            href=""
            download="CV of Abdul-Malik Mohamed"
            -->
            <a (click)="onDownloadCv()">
              <i class="far fa-arrow-alt-circle-down"></i> Download My CV</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p>
          <ngtypewriter [StringList]="passion" [speed]="50000"></ngtypewriter>
        </p>
        <p></p>
      </div>
    </div>

    <portfolio-resume></portfolio-resume>

    <div class="container">
      <h2>My <span> Skills </span></h2>

      <div class="row">
        <p class="col tech-stack"><i class="icon fab fa-html5"> </i> HTML</p>
        <p class="col tech-stack"><i class="icon fab fa-css3-alt"> </i> CSS</p>
        <p class="col tech-stack">
          <i class="icon fab fa-js-square"> </i> JavaScript
        </p>
        <p class="col tech-stack">
          <i class="icon devicon-angularjs-plain"> </i> Angular
        </p>
        <p class="col tech-stack">
          <i class="icon devicon-vuejs-plain"> </i> VueJS
        </p>
        <p class="col tech-stack"><i class="icon fab fa-python"> </i> Python</p>
        <p class="col tech-stack">
          <i class="icon devicon-mysql-plain"> </i> MySQL
        </p>
        <p class="col tech-stack">
          <i class="icon devicon-sqlite-plain"> </i> SQLite
        </p>
        <p class="col tech-stack">
          <i class="icon devicon-flask-original"> </i> Flask
        </p>
      </div>
    </div>
  </div>

  <portfolio-footer></portfolio-footer>
</body>

<div class="container" *ngIf="false">
  <div *ngFor="let skill of skills">
    <p>
      {{ skill }}
    </p>
  </div>
</div>
