<!-- <ul class="nav navbar-nav navbar-right">
  <li class="dropdown" appDropdown>
    <a class="dropdown-toggle" role="button"
      >Manage <span class="caret"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a style="cursor: pointer">Login</a></li>
    </ul>
  </li>
</ul> -->

<nav>
  <ul class="navbar-links">
    <li>
      <a routerLink="/home">
        <i class="fas fa-home nav-tooltip">
          <span class="nav-tooltip-text">HOME</span>
        </i>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="fas fa-address-card nav-tooltip">
          <span class="nav-tooltip-text">ABOUT</span>
        </i>
      </a>
    </li>
    <li>
      <a routerLink="/projects">
        <i class="fas fa-briefcase nav-tooltip">
          <span class="nav-tooltip-text">PORTFOLIO</span>
        </i>
      </a>
    </li>
    <li>
      <a routerLink="/testimonials">
        <i class="fas fa-quote-left nav-tooltip">
          <span class="nav-tooltip-text">TESTIMONIALS</span>
        </i>
      </a>
    </li>
    <li>
      <a routerLink="/contact-me">
        <i class="fas fa-envelope nav-tooltip">
          <span class="nav-tooltip-text">CONTACT ME</span>
        </i>
      </a>
    </li>
  </ul>
</nav>
