<nav class="navbar-expand-lg">
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-links">
      <li routerLinkActive="active">
        <a routerLink="/home" (click)="isMenuCollapsed = true">
          <i class="fas fa-home" placement="start" ngbTooltip="Home"> </i>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/about" (click)="isMenuCollapsed = true">
          <i class="fas fa-address-card" placement="start" ngbTooltip="About">
          </i>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/projects" (click)="isMenuCollapsed = true">
          <i class="fas fa-briefcase" placement="start" ngbTooltip="Portfolio">
          </i>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/testimonials" (click)="isMenuCollapsed = true">
          <i
            class="fas fa-quote-left"
            placement="start"
            ngbTooltip="Testimonials"
          >
          </i>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/contact-me" (click)="isMenuCollapsed = true">
          <i class="fas fa-envelope" placement="start" ngbTooltip="Contact">
          </i>
        </a>
      </li>
    </ul>
  </div>
</nav>
