.navbar-links {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 30px;
  right: 30px;

  list-style-type: none;

  opacity: 1;

  text-transform: uppercase;
  gap: 20px;

  transition: all 0.6s linear;
  z-index: 1;
}

.fas {
  color: #03045e;
  transition: 0.3s;
}

.fas:hover {
  color: #48cae4;
}

:host >>> .tooltip-inner {
  background: #03045e !important;
  color: #00b4d8;
}

/* new nav */
.navbar-toggler {
  color: #03045e;
  transition: 0.3s;
  position: fixed;
  top: 5px;
  right: 18px;
}

.navbar-toggler:hover {
  color: #48cae4;
}
