<h1>My <span> Projects </span></h1>

<div class="buttons" style="text-align: center">
  <button class="btn" placement="bottom" ngbTooltip="All">All</button>
  <button
    class="btn"
    (click)="showHtmlCss()"
    placement="bottom"
    ngbTooltip="HTML/CSS"
  >
    <i class="icon fab fa-html5"> </i>
    <i class="icon fab fa-css3-alt"></i>
  </button>
  <button
    class="btn"
    (click)="showPython()"
    placement="bottom"
    ngbTooltip="PYTHON"
  >
    <i class="icon fab fa-python"> </i>
  </button>
  <button class="btn" (click)="showJS()" placement="bottom" ngbTooltip="JS">
    <i class="icon fab fa-js-square"> </i>
  </button>
  <button class="btn" placement="bottom" ngbTooltip="Angular">
    <i class="icon devicon-angularjs-plain"> </i>
  </button>
</div>

<div class="container" *ngIf="projects.length > 0">
  <div class="card-columns">
    <div
      style="background-color: #caf0f8; border: none"
      class="card"
      *ngFor="let project of projects"
      (click)="show()"
    >
      <img
        class="card-img-top"
        [id]="project.id"
        [src]="project.imgURL"
        [alt]="project.imgALT"
      />
    </div>
  </div>
</div>

<div *ngIf="projects.length > 0">
  <div *ngFor="let project of projects">
    <div
      [style.display]="showModal ? 'block' : 'none'"
      class="modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="project.id"
      aria-hidden="true"
      [id]="project.id"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" [id]="project.id">
              {{ project.title }}
            </h4>
          </div>
          <div class="modal-body">
            <img
              [src]="project.imgURL"
              [alt]="project.imgALT"
              [id]="project.id"
              style="width: 425px; height: 425px"
            />
          </div>

          <h4>
            {{ project.techStack }}
          </h4>

          <p>
            {{ project.description }}
          </p>

          <div class="buttons">
            <a href="{{ project.githubURL }}" target="_blank"> git </a>
            <a href="{{ project.liveProjectURL }}" target="_blank"> live </a>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              (click)="hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->

<portfolio-footer></portfolio-footer>
