<body>
  <div class="container">
    <h1>Let's <span>Talk</span></h1>

    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      "
    >
      <p><i class="fas fa-phone-alt contact-icon"></i> 076 497 1338</p>
      <a class="my-details-link" href="mailto:abdulmalikmohamed360@gmail.com">
        <p>
          <i class="fas fa-envelope contact-icon"></i>
          abdul.malik.codes@gmail.com
        </p>
      </a>

      <p>
        <i class="fas fa-map-marker-alt contact-icon"></i>
        Mitchell's Plain, Cape Town
      </p>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <h4>Send Me An Email</h4>

        <p>
          Feel free to get in touch with me. I am always open to discussing new
          projects or creative ideas.
        </p>

        <h4>Follow Me</h4>

        <div class="container">
          <a href="https://github.com/abdulmalik-codes" target="_blank"
            ><i class="fab fa-github link-button"></i
          ></a>
          <a href="https://codepen.io/abdulmalik-codes" target="_blank"
            ><i class="fab fa-codepen link-button"></i
          ></a>
          <a
            href="https://www.instagram.com/abdul_malik_mohamed/"
            target="_blank"
            ><i class="fab fa-instagram link-button"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/abdul-malik-mohamed-5938bb214"
            target="_blank"
            ><i class="fab fa-linkedin-in link-button"></i
          ></a>
        </div>
      </div>

      <div class="col-sm-8">
        <form>
          <div class="container">
            <div class="row">
              <div class="form-input-group">
                <label for="">name</label>
                <input class="form-control" type="text" />
              </div>

              <div class="form-input-group">
                <label for="">email</label>
                <input class="form-control" type="text" />
              </div>

              <div class="form-input-group">
                <label for="">number</label>
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>

          <div class="form-input-group">
            <label for="">message</label>
            <textarea class="form-control" name="" id="" rows="5"></textarea>
          </div>

          <button class="btn">Send</button>
        </form>
      </div>
    </div>
  </div>
</body>

<portfolio-footer
  style="position: fixed; bottom: 0; width: 100%"
></portfolio-footer>
