<body>
  <div class="container">
    <h1>Let's <span>Talk</span></h1>

    <div class="row">
      <div class="col-sm-4">
        <p>
          <i class="fa-solid fa-phone"></i>

          076 497 1338
        </p>
      </div>
      <div class="col-sm-4">
        <a href="mailto:abdulmalikmohamed360@gmail.com">
          <p>
            <i class="fas fa-envelope contact-icon"></i>
            abdul.malik.codes@gmail.com
          </p>
        </a>
      </div>
      <div class="col-sm-4">
        <p>
          <i class="fas fa-map-marker-alt contact-icon"></i>
          Mitchell's Plain, Cape Town
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <h4>Send Me An Email</h4>

        <p class="contact-text">
          Feel free to get in touch with me. I am always open to discussing new
          projects or creative ideas.
        </p>

        <h4>Follow Me</h4>

        <div class="container">
          <a
            href="https://github.com/abdulmalik-codes"
            target="_blank"
            placement="bottom"
            ngbTooltip="Github"
            ><i class="fab fa-github link-button"></i
          ></a>
          <a
            href="https://codepen.io/abdulmalik-codes"
            target="_blank"
            placement="bottom"
            ngbTooltip="Code Pen"
            ><i class="fab fa-codepen link-button"></i
          ></a>
          <a
            href="https://www.instagram.com/abdul_malik_mohamed/"
            target="_blank"
            placement="bottom"
            ngbTooltip="Instagram"
            ><i class="fab fa-instagram link-button"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/abdul-malik-mohamed-5938bb214"
            target="_blank"
            placement="bottom"
            ngbTooltip="LinkedIn"
            ><i class="fab fa-linkedin-in link-button"></i
          ></a>
        </div>
      </div>

      <div class="col-sm-8">
        <form>
          <div class="container">
            <div class="row">
              <div class="form-input-group">
                <input placeholder="name" class="form-control" type="text" />
              </div>

              <div class="form-input-group">
                <input placeholder="email" class="form-control" type="text" />
              </div>

              <div class="form-input-group">
                <input placeholder="number" class="form-control" type="text" />
              </div>
            </div>
            <div class="form-input-group">
              <textarea
                placeholder="Type your message here..."
                class="form-control"
                name=""
                id=""
                rows="5"
              ></textarea>
            </div>
          </div>

          <button class="btn">Send</button>
        </form>
      </div>
    </div>
  </div>
</body>

<portfolio-footer
  style="position: fixed; bottom: 0; width: 100%"
></portfolio-footer>
