<div class="container">
  <div style="text-align: center">
    <button (click)="onEducation()">Education</button>

    <button (click)="onWork()">work</button>
    <button (click)="onExperience()">experience</button>
  </div>

  <ngb-carousel *ngIf="education">
    <ng-template
      style="background-color: black; height: 500px"
      ngbSlide
      *ngFor="let education of educations"
    >
      <div
        style="
          height: 300px;
          border: 2px solid black;
          background-color: rgb(34, 162, 248);
        "
      >
        <div class="container">
          <h3>
            {{ education.title }}
          </h3>
          <p>
            {{ education.year }}
          </p>
          <p>
            {{ education.location }}
          </p>
          <p>
            {{ education.description }}
          </p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <ngb-carousel *ngIf="work">
    <ng-template ngbSlide *ngFor="let d of data">
      <div
        style="height: 300px; border: 2px solid black; background-color: aqua"
      >
        <div class="carousel-caption">
          <h3>
            {{ d.name }}
          </h3>
          <p>
            {{ d.age }}
          </p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <ngb-carousel *ngIf="experience">
    <h1>work</h1>
    <ng-template ngbSlide *ngFor="let d of dataOther">
      <div
        style="height: 300px; border: 2px solid black; background-color: aqua"
      >
        <div class="carousel-caption">
          <h3>
            {{ d.name }}
          </h3>
          <p>
            {{ d.age }}
          </p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<hr />
<hr />

<hr />

<hr />

<hr />

`
