* {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 80px;
  /* color: #1d3557; */
}
h1 span {
  /* color: #a8dadc; */
  text-shadow: 0 8px 32px 0 #1d3557;
}

::-webkit-scrollbar {
  display: none;
}
