ngb-carousel {
  margin: 0 0 30px;
}

.resume-btn:hover {
  color: #48cae4;
}
.container {
  padding: 30px;
}

h4 {
  color: #03045e;
}
h4 i {
  color: #48cae4;
}

p {
  color: #03045e;
  font-size: 18px;
}

p i {
  color: #48cae4;
}
